@charset "UTF-8";
/*
& - подключение родителя
$ - создание переменной 
@ - подключение файла
% - создание шаблона и обращение к шаблону через @extend %shablon;
*/
/*

Пример Миксина
создание
@mixin fontz($f) {
    font-size: 100px;
}
подключение
@include fontz(100px);
*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* header .......................................................................................*/
.header {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__container {
  width: 1340px;
  margin: 20px 50px 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 970px) {
  .header__container {
    margin: 20px 20px 0px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header__menu-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__logo-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6px 0px 26px 0px;
}
@media (max-width: 700px) {
  .header__logo-body {
    padding: 6px 0px 20px 0px;
  }
}
.header__menu-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-left__item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: 1.67px;
  padding: 5px 0px 27px 0px;
}
.menu-left__item:not(:last-child) {
  padding-right: 32px;
}
@media (max-width: 1100px) {
  .menu-left__item:not(:last-child) {
    padding-right: 16px;
  }
}
@media (max-width: 415px) {
  .menu-left__item:not(:last-child) {
    padding-right: 9px;
  }
}
@media (max-width: 700px) {
  .menu-left__item {
    padding: 5px 12px 20px 0px;
  }
}
@media (max-width: 360px) {
  .menu-left__item {
    font-size: 8px;
    letter-spacing: 1px;
  }
}
.menu-left__item:last-child {
  padding-right: 16px;
}
@media (max-width: 360px) {
  .menu-left__item:last-child {
    padding: 5px 8px 27px 0px;
  }
}
.menu-left__link {
  color: rgba(0, 0, 0, 0.712);
}
.menu-left__link:hover {
  text-decoration: underline;
}

.menu-right__item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: 1.67px;
  padding: 5px 0px 27px 0px;
}
.menu-right__item:not(:last-child) {
  padding-right: 32px;
}
@media (max-width: 1100px) {
  .menu-right__item:not(:last-child) {
    padding-right: 16px;
  }
}
@media (max-width: 700px) {
  .menu-right__item {
    padding: 5px 12px 20px 0px;
  }
}
@media (max-width: 410px) {
  .menu-right__item {
    font-size: 8px;
    letter-spacing: 1px;
  }
}
.menu-right__item:last-child {
  padding: 0px 16px 27px 0px;
}
@media (max-width: 360px) {
  .menu-right__item:last-child {
    padding: 0px 8px 27px 0px;
  }
}
.menu-right__link {
  color: rgba(0, 0, 0, 0.712);
}
.menu-right__link:hover {
  text-decoration: underline;
}
.menu-right__button {
  font-family: "Montserrat";
  width: 64px;
  height: 23px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  color: white;
  background-color: black;
}
.menu-right__button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

/* main .......................................................................................*/
/* future ..................................................*/
.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.future {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.future__body {
  max-width: 1440px;
  width: 100%;
  height: 800px;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1350px) {
  .future__body {
    max-height: 750px;
  }
}
@media (max-width: 1250px) {
  .future__body {
    max-height: 650px;
  }
}
@media (max-width: 1100px) {
  .future__body {
    max-height: 500px;
  }
}
@media (max-width: 900px) {
  .future__body {
    max-height: 400px;
  }
}
@media (max-width: 700px) {
  .future__body {
    max-height: 300px;
  }
}
.future__img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.future__img-logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}
.future__title {
  margin-bottom: 33px;
  z-index: 4;
}
.future__title-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 57px;
  line-height: 117%;
  text-align: center;
  letter-spacing: 0.81px;
  color: white;
}
.future__items {
  z-index: 4;
}
.future__text-in {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
  text-align: center;
  letter-spacing: 0.44px;
  color: white;
  margin-bottom: 60px;
}
@media (max-width: 900px) {
  .future__title-text {
    font-size: 40px;
    line-height: 117%;
    margin: 0px 110px;
  }
  .future__text-in {
    font-size: 14px;
    line-height: 156%;
    margin-bottom: 40px;
  }
}
.future__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.future__button {
  width: 215px;
  height: 36px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 142%;
  text-align: center;
  letter-spacing: 2px;
  background: transparent;
  border: 1px solid white;
  color: white;
}
.future__button:hover {
  color: black;
  background-color: white;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.future__but:not(:last-child) {
  margin-right: 21px;
}
@media (max-width: 535px) {
  .future__title {
    margin-bottom: 20px;
  }
  .future__title-text {
    font-size: 25px;
    line-height: 117%;
  }
  .future__text-in {
    font-size: 12px;
    line-height: 156%;
    margin-bottom: 20px;
  }
  .future__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .future__but:not(:last-child) {
    margin-right: 0px;
  }
  .future__button {
    margin-bottom: 5px;
  }
}
@media (max-width: 476px) {
  .future__body {
    height: 220px;
  }
  .future__title {
    margin-bottom: 15px;
  }
  .future__title-text {
    font-size: 20px;
    line-height: 117%;
    margin: 0px 75px;
  }
  .future__text-in {
    font-size: 10px;
    line-height: 156%;
    margin-bottom: 15px;
  }
  .future__button {
    height: 25px;
    margin-bottom: 5px;
  }
}
@media (max-width: 350px) {
  .future__body {
    height: auto;
  }
  .future__title-text {
    font-size: 14px;
    line-height: 117%;
    margin: 0px 20px;
  }
  .future__text-in {
    margin: 0px 30px 10px;
  }
  .future__button {
    height: 20px;
    margin-bottom: 5px;
  }
}

/* service .....................................................................................*/
.service {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.service__body {
  max-width: 1440px;
  width: 100%;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.service__left {
  width: 100%;
  max-width: 710px;
  height: 100%;
  max-height: 500px;
  margin: 16px 20px 0px 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.service__right {
  width: 100%;
  max-width: 710px;
  height: 100%;
  max-height: 500px;
  margin: 16px 0px 0px 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 510px) {
  .service__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service__left {
    margin: 5px 0px 0px 0px;
  }
  .service__right {
    margin: 5px 0px 0px 0px;
  }
}

.left__img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.left__img-logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}
.left__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 134% px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.left__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 570px) {
  .left__title {
    font-size: 25px;
  }
  .left__text {
    font-size: 14px;
  }
}

.right__img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.right__img-logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}
.right__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 134% px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.right__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 570px) {
  .right__title {
    font-size: 25px;
  }
  .right__text {
    font-size: 14px;
  }
}

._items-service {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40%;
}

/* better .....................................................................................*/
.page__better {
  position: relative;
  width: 100%;
  background-color: #0B0B0B;
  height: 100%;
  max-height: 729px;
  margin: 16px 0px 16px 0px;
}

.better__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.better__items {
  width: 100%;
  max-width: 560px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.better__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 113%;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 66px;
}
.better__img {
  width: 100%;
  max-width: 444px;
  height: 100%;
  max-height: 366px;
  margin-top: 32px;
}
.better__img-logo {
  width: 100%;
  max-width: 444px;
  height: 100%;
  max-height: 366px;
  top: 0;
  left: 0;
}
.better__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
  text-align: center;
  color: #FFFFFF;
  margin: 39px 0px 83px 0px;
}
@media (max-width: 587px) {
  .better__title {
    font-size: 27px;
    margin-top: 40px;
  }
  .better__img-logo {
    margin: 10px;
  }
  .better__img {
    margin: 5px;
  }
  .better__text {
    font-size: 16px;
    margin: 25px 5px 25px 5px;
  }
}

/* women .....................................................................................*/
.pade__women {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
}

.women__body {
  max-width: 1440px;
  width: 100%;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.women__item {
  margin: 9.44% 17.7% 9.44% 53.33%;
}
.women__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 123%;
  letter-spacing: 0.5px;
  color: #1B1B1B;
  margin-bottom: 33px;
}
.women__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
  color: #666666;
  margin-bottom: 12px;
}
.women__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1B1B1B;
}
.women__link:hover {
  text-decoration: underline;
}
@media (max-width: 810px) {
  .women__item {
    margin: 5% 5% 5% 45%;
  }
}
@media (max-width: 536px) {
  .women__item {
    margin: 5% 5% 5% 40%;
  }
  .women__title {
    font-size: 27px;
  }
  .women__text {
    font-size: 14px;
  }
}
@media (max-width: 396px) {
  .women__item {
    margin: 5% 5% 5% 40%;
  }
  .women__title {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .women__text {
    font-size: 12px;
  }
  .women__link {
    font-size: 11px;
  }
}

/* footer .....................................................................................*/
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #0B0B0B;
  margin-top: 16px;
  padding: 6.66% 14.75%;
}
.footer__colums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 62%;
          flex: 0 1 62%;
}
.footer__colum-f {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 38%;
          flex: 0 1 38%;
}
.footer__colum {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  color: #ffffff;
}
.footer__label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #FFFFFF;
  margin-bottom: 25%;
}
.footer__labels {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 143%;
  text-align: right;
  letter-spacing: 1.71px;
  color: #7E7E7E;
  margin-bottom: 10%;
}
.footer__copy {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  text-align: right;
  color: #7E7E7E;
}
@media (max-width: 960px) {
  .footer__colums {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .footer__colum-f {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .footer__colum {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    color: #ffffff;
  }
  .footer__labels {
    text-align: center;
    margin: 5% 0px 2.5% 0px;
  }
  .footer__copy {
    text-align: center;
  }
  .footer .subscribe {
    text-align: center;
    margin-bottom: 2%;
  }
  .footer .subscribe__form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .social__item {
    text-align: center;
  }
  .footer .social__item img {
    text-align: center;
    margin: 4.5% 1% 2% 1%;
  }
}
@media (max-width: 600px) {
  .footer__body {
    padding: 4% 2%;
  }
}
@media (max-width: 455px) {
  .footer__colum {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .footer__body {
    padding: 4% 2% 4% 10%;
  }
  .footer__label {
    margin: 12% 0px 5% 0px;
  }
}

.menu-footer__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 118%;
  color: #7E7E7E;
  margin-bottom: 4%;
}
.menu-footer__link:hover {
  text-decoration: underline;
}

.subscribe {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 143%;
  text-align: right;
  color: #7E7E7E;
  margin-bottom: 4%;
}
.subscribe__form {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.subscribe__input {
  padding: 10px;
  color: #7E7E7E;
  background-color: #0B0B0B;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  border: 1px solid white;
  border-radius: 2px 0 0 2px;
  margin: 0px;
}
.subscribe__button {
  padding: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #7E7E7E;
  border-radius: 0 2px 2px 0;
  margin: 0px;
}
.subscribe__button:hover {
  background-color: #1B1B1B;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.social__item {
  text-align: right;
}
.social__item img {
  margin: 10.47% 0 4.18% 4.48%;
}